@use "base/reset.scss";

@use "components/header";
@use "components/hero";


// ------ header-----
.container{
    margin-right: 2rem;
    margin-left: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

